#eventDetails_hero_box {
    border: 1px #010101 solid;
    width: 100%;
    /* height: 972px; */
}

#eventDetails_hero_img {
    min-width: 512px;
    min-height: 512px;
    max-height: 512px;
    max-width: 512px;
}



