body {
  overflow-x: hidden;
}
nav {
  background-color: white;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar-brand {
  font-size: 24px;
  font-weight: 400;
  color: #229db3;
}
nav ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}
nav ul li a:hover {
  color: #229db3;
}

#nav-section {
  padding-bottom: 60px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}
section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #229db3;
  text-align: left;
}
section p {
  font-size: 16px;
  font-weight: 300;
}

.btn {
  max-width: 50%;
  border-radius: 5px !important;
}

.btn-accent {
  color: #229db3;
  border-color: #229db3;
}

.btn-accent:active, .btn-accent:hover {
  background: #229db3;
  border-color: #229db3;
}

.btn-filled {
  color: white;
  background: #229db3;
  border-color: #229db3;
}

.btn-filled:active, .btn-filled:hover {
  color: #229db3;
  background: white;
  border-color: #229db3;
}

.btn-outline-success {
  color: #229db3;
  border-color: #229db3;
  box-shadow: none;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #229db3;
  border-color: #229db3;
  box-shadow: none;
}

#main-page {
  max-width: 100%;
}

.page-column {
  padding-top: .75rem;
  padding-bottom: .75rem;
  border: 10px;
  
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

.hero-image {
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  object-fit: none;
  justify-content: center;
  object-position: center middle;
  width: 100%;
  max-height: 200px;
  margin-bottom: 1rem;
}